%h1 Listing users

%table#cars
  %tr
    %th Name
    =# %th Password
    %th Phone
    %th Address
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.Name
      =# %td= user.Password
      %td= user.Phone
      %td= user.Address
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user) if session[:user_id] and session[:user_id] == user.id
      %td=# link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
