%h1 Listing Cars

%table#cars
  %tr
    %th Brand
    %th Model
    %th Year
    %th Engine
    %th Price
    %th Status
    %th Owner

  - @cars.each do |car|
    %tr
      %td= car.Brand
      %td= car.Model
      %td= car.Year
      %td= car.Engine
      %td= car.Price
      %td= car.status
      %td= link_to car.Owner, user_path(car.user.id) 
      %td= link_to 'Show', car 
      %td= link_to 'Destroy', car, :confirm => 'Are you sure?', :method => :delete if session[:user_id] and session[:user_id] ==car.user_id

%br

= link_to 'New Car', new_car_path if session[:user_id]
