%h1 Listing cars


%table#cars
  %tr
    %th Brand
    %th Model
    %th Year
    %th Engine
    %th Price
    %th Status
    %th Owner

  - @cars.each do |car|
    %tr
      %td= car.Brand
      %td= car.Model
      %td= car.Year
      %td= car.Engine
      %td= car.Price
      %td= car.status
      %td= car.Owner
      %td= link_to 'Show', car
      %td= link_to 'Destroy', car, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Car', new_car_path
